In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('../Datasets/actor_2013.xls')

In [4]:
data.describe()

             Age
count  44.000000
mean   44.977273
std     9.749153
min    29.000000
25%    38.000000
50%    43.500000
75%    50.250000
max    76.000000

In [7]:
print("Range covered by all the actor's ages",data['Age'].max() - data['Age'].min())

Range covered by all the actor's ages 47

In [16]:
d = data.describe()
print("Range covered by middle 50% of ages",d.loc['75%']['Age']-d.loc['25%']['Age'])

Range covered by middle 50% of ages 12.25