In [31]:
import pandas as pd

In [32]:
data = pd.read_excel('../Datasets/nightlight.xls')

In [33]:
light_index = data['Light'].value_counts().index

In [34]:
sig_index = data['Nearsightedness'].value_counts().index

In [35]:
two_way_dict = {}
for i in light_index:
    loc_dict = {}
    for j in sig_index:
        d = data.loc[data['Light']==i]
        d = d.loc[data['Nearsightedness']==j]
        loc_dict[j] = d.shape[0]
    two_way_dict[i] = loc_dict

In [36]:
two_way_dict

{'night light': {'No': 153, 'Yes': 79},
 'no light': {'No': 155, 'Yes': 17},
 'lamp': {'No': 34, 'Yes': 41}}

In [37]:
df = pd.DataFrame(columns=sig_index,index=light_index)

In [38]:
for k,v in two_way_dict.items():
    for i,j in v.items():
        df.loc[k,i] = j

In [39]:
df_per = df.T

In [40]:
df_per['night light'].sum()

232

In [41]:
for i in df_per.columns:
    df_per[i] = df_per[i]/df_per[i].sum() * 100

In [42]:
df_per['night light'] = df_per['night light']/df_per['night light'].sum() * 100

In [43]:
df_per = df_per.T

In [44]:
df_per

                    No        Yes
night light  65.948276  34.051724
no light     90.116279   9.883721
lamp         45.333333  54.666667

In [45]:
df

              No  Yes
night light  153   79
no light     155   17
lamp          34   41